@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0%;
    padding: 0%;
}

.div-container-top-border {
    border-top: 1px solid #dcd5d5;
    display: flex;
    justify-content: space-between;
}

.left-side-bar {
    width: 300px;
    padding-right: 20px;

}

.navbar-logo {
    width: 260px;
    padding-left: 40px;
}




.div-container-leftside-border {
    width: 1570px;
    border-left: 1px solid #dcd5d5;
    padding-left: 0%;
    padding-right: 0%;
}

.header-bottom-border {
    border-bottom: 1px solid #dcd5d5;
}


.dropdown:hover .dropdown-menu {
    display: block;
    border: none;
    margin-top: 6px;
    border-radius: 0%;
    border-top: 1px solid #dcd5d5;
    padding: 20px;
    padding-right: 50px;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 5px;
    color: #956810;
}

.dropdown-menu a {
    color: #956810;
}

.custom-navbar-toggler {
    max-width: 505px;
    max-height: 90px;
}

.Toggle-button {
    width: 170px;
    max-height: 97px;
    padding: 25px 15px;
    border: 0;
    border-left: 1px solid #dcd5d5;
    border-radius: 0%;
    background-color: #f8f9fa;

}

/* banner section*/
body {
    margin: 0;
    padding: 0;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.slide-1 {
    margin-top: 100px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide-1.active-1 {
    opacity: 1;
}

.slide-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 12s ease-in-out;
}

.slide-1.active-1 img {
    transform: scale(1.1);
    /* Zoom in */
}

.slide-content {
    position: absolute;
    bottom: 130px;
    left: 60px;
    padding: 1.5rem;
    color: white;
    z-index: 10;
    max-width: 650px;
}

.slide-content h2 {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
    letter-spacing: 5px;
    padding: 0.4rem;

}


.slide-content h1 {
    font-size: 4rem;
    font-weight: 500px;
}

.slide-content button {
    width: 210px;
    padding: 0.7rem 1.5rem;
    background-color: #0f090907;
    border: 1px solid white;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0.4rem;
}

.slide-content button:hover {
    background-color: white;
    color: black;

}

/* image section-1 */

.qodef-e-content-inner-1 {
    position: absolute;
    bottom: 52px;
    left: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}

.qodef-e-content-inner-2 {
    position: absolute;
    bottom: 52px;
    left: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

/* swiper-container */
.swiper-slider-container {
    height: 500px;
    margin-top: 150px;
    margin-bottom: 150px;
    padding-left: 300px;
}

.slider-card-container {
    max-width: 750px;
    height: 380px;

}

.card-container-div-1 {
    padding: 26px 60px 36px 26px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fbf9f9;
}

.card-container-div-1 h2 {
    font-size: 26px;
    padding-bottom: 10px;


}

.card-container-div-1 h2 a {
    color: #42464f;


}

.card-container-div-1 .card-container-div-2 {
    font-size: 11px;
    padding-bottom: 70px;

}

.qodef-e-read-more {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #42464f;
    font-size: 14px;
    font-weight: 500;
}

.qodef-e-static-left {
    margin-bottom: 45px;
}



/*strategy secton */

.strategy-section {
    padding-bottom: 150px;

}

.strategy-section h2 {
    padding-top: 170px;
    font-size: 44px;
}

.strategy-section-image {
    padding-bottom: 250px;
}

/* video img section */

.custom-h4 {
    max-width: 100%;
    width: 498px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-52%);
    padding: 20px;
}

/* carousel Auto playing section */

#carouselAutoplaying {

    padding: 160px;

}

.static-quote {
    margin-bottom: 64px;
}

.quote-testimonials {
    fill: #b29063;
    stroke: none;

}

.carousel-item {
    transition: transform 800ms ease-in-out !important;
}

.carousel-inner {
    transition: transform 800ms ease-in-out !important;
}

.carousel-item h3 {
    margin: 0 0 36px;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.294em;
    font-family: Marcellus, serif;
    word-wrap: break-word;
}

.carousel-item h6 {
    font-weight: 500;
    font-size: 11px;
    line-height: 1.6em;
    letter-spacing: 0.6em;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    color: #b29063;
    word-wrap: break-word;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    color: black;
    background: none;
    font-size: 2rem;
}

.carousel-control-prev {
    left: -2rem;

}

.button-prev-1:hover {
    color: black;

}

.button-prev-1 {
    color: black;

}

.carousel-control-next {
    right: -2rem;
}

.carousel-control-next svg {
    display: block;
    width: 24px;
    fill: none;
    stroke: currentColor;
}

.carousel-control-prev svg {
    display: block;
    width: 24px;
    fill: none;
    stroke: currentColor;
}

/* image section-2 */

.custom-column {
    width: 100%;
    max-width: auto;
    height: 793px;
    border: 1px solid #ddd;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 20px;
}

.custom-column h4,
.custom-column p {
    text-align: start;
}

/* special offer section */

.special-offer-section-container {
    padding-top: 150px;
    padding-bottom: 150px;

}

.special-offer-section-container p {
    color: #b29063;
}

.special-offer-section-container h1 {
    max-width: 600px;
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 65px;
    color: #2e3239;
}

.special-offer-section {
    padding: 35px;
    width: 355px;
}

.special-offer-section p {
    margin-bottom: 18px;
    font-size: 12px;
    font-weight: 400px;
    letter-spacing: 5px;
    color: #b29063;
}

.special-offer-section h3 {
    font-size: 32px;
}

.special-offer-section h2 {
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: 55px;
    line-height: 50px;
    color: #6c6f73;
}

/* map-section */

/* .map-section {
    padding-right: 130px;
} */

.map-section h2 {
    margin-bottom: 44px;
    /* padding-left: 20px; */
}

.map-section-div {
    gap: 100px;
    /* padding-left: 20px; */
}

.left-side-image {
    overflow: hidden;
    /* Prevents the image from overflowing the container */
}

.left-side-image img {
    animation: scaleInOut 25s ease-in-out infinite;
    animation-delay: 6s;
    transform-origin: center;
}

/* Keyframes for scaling animation */
@keyframes scaleInOut {

    0%,
    100% {
        transform: scale(1);
        /* Original size */
    }

    50% {
        transform: scale(1.1);
        /* Scaled size */
    }
}



/* Contract Us section */

.submit-button {
    background-color: #d4bfa3;
    color: #2e3239;
    border: 1px solid #d4bfa3;
}

.submit-button:hover {
    background-color: white;
    color: #2e3239;
    border: 1px solid #d4bfa3;
}

/* footer */

.footer {
    height: 640px;
}

.footer-container {
    padding-top: 180px;
    padding-bottom: 180px;
}

.footer-colom1 {
    padding-right: 200px;
    font-size: 17px;
    color: #797c8d;
}

.inpute-placeHolder::placeholder {
    color: #8a8785;
    opacity: 1;
}

.icon-hover-color {
    transition: background-color 0.3s ease;
    width: 32px;
    height: 32px;
    background-color: #ecdec2;
    color: #797c8d;
    font-size: 14px;
    font-weight: 400;
}

.icon-hover-color a {
    color: #2e2f31;
}

.icon-hover-color:hover {
    background-color: none;
    border: 1px solid #ecdec2;
    background-color: #14203a;
    color: #b49b69;
}

.icon-hover-color:hover a {
    color: #ecdec2;
}