@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0%;
}

.div-container-top-border {
    border-top: 1px solid #dcd5d5;
    display: flex;
    justify-content: space-between;
}

.left-side-bar {
    width: 300px;
    padding-right: 20px;

}

.navbar-logo {
    width: 260px;
    padding-left: 40px;
}




.div-container-leftside-border {
    width: 1570px;
    border-left: 1px solid #dcd5d5;
    padding-left: 0%;
    padding-right: 0%;
}

.header-bottom-border {
    border-bottom: 1px solid #dcd5d5;
}


.dropdown:hover .dropdown-menu {
    display: block;
    border: none;
    margin-top: 6px;
    border-radius: 0%;
    border-top: 1px solid #dcd5d5;
    padding: 20px;
    padding-right: 50px;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 5px;
    color: #956810;
}

.dropdown-menu a {
    color: #956810;
}

.custom-navbar-toggler {
    max-width: 505px;
    max-height: 90px;
}

.Toggle-button {
    width: 170px;
    max-height: 97px;
    padding: 25px 15px;
    border: 0;
    border-left: 1px solid #dcd5d5;
    border-radius: 0%;
    background-color: #f8f9fa;

}

/* banner section*/
body {
    margin: 0;
    padding: 0;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.slide {
    margin-top: 100px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 12s ease-in-out;
}

.slide.active img {
    transform: scale(1.1);
    /* Zoom in */
}

.slide-content {
    position: absolute;
    bottom: 130px;
    left: 60px;
    padding: 1rem;
    color: white;
    z-index: 10;
    max-width: 650px;
}

.slide-content h2 {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
    letter-spacing: 5px;
}

.slide-content h1 {
    font-size: 4rem;
    font-weight: 500px;
}

.slide-content button {
    width: 210px;
    padding: 0.7rem 1.5rem;
    background-color: #0f090907;
    border: 1px solid white;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slide-content button:hover {
    background-color: white;
    color: black;

}


/*strategy secton */

.strategy-section {
    padding-bottom: 150px;

}

.strategy-section h2 {
    padding-top: 170px;
    font-size: 44px;
}

.strategy-section-image {
    padding-bottom: 250px;
}



@media (max-width:768px) {

    .div-container-top-border {
        display: none;
        border-top: none;
        width: 100%;

    }

    .left-side-bar {
        display: none;
        width: 100%;
    }

    .navbar-logo {
        max-width: 180px;
        padding-left: 0%;

    }

    .nav-container1 {
        width: 100%;
        padding: 0%;
        margin: 0%;


    }

    .nav-container2 {
        max-width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 5%;
        margin: 0%;
    }


    .div-container-leftside-border {
        border-left: none;
    }

    .header-bottom-border {
        border-bottom: none;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        border: none;
    }

    .Toggle-button {
        width: 70px;
        max-height: 50px;
        padding: 15px 10px;
        border-left: none;
        display: none;
    }


    /*strategy secton */
    .strategy-section {
        padding: 50px;

    }

    .strategy-section h2 {
        padding-top: 0px;
        font-size: 40px;
    }

    .strategy-section-image {
        padding-bottom: 0px;
    }

}