/* For screens smaller than 992px */
@media (max-width: 991px) {

    /* navbar */

    .div-container-top-border {
        display: none;
        border-top: none;
        width: 100%;

    }

    .left-side-bar {
        display: none;
        width: 100%;
    }

    .navbar-logo {
        max-width: 180px;
        padding-left: 0%;

    }

    .nav-container1 {
        width: 100%;
        padding: 0%;
        margin: 0%;


    }

    .nav-container2 {
        max-width: 96%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 5%;
        margin: 0%;
    }


    .div-container-leftside-border {
        border-left: none;
    }

    .header-bottom-border {
        border-bottom: none;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        border: none;
    }

    .Toggle-button {
        width: 70px;
        max-height: 50px;
        padding: 15px 10px;
        border-left: none;
        display: none;
    }

    /* footer */
    .footer {
        height: auto;
        padding-top: 150px;
        padding-bottom: 25px;
        padding: 30px;
    }

    .footer-colom1 {
        padding-right: 50px;

    }

    .footer-container {
        padding: 0;
        padding-bottom: 100px;
    }
}



@media (max-width: 768px) {
    .mission-img {
        padding-left: 50px;
    }

    .missionStatement h2 {
        font-size: 32px;
    }

    .sec-img img {
        object-fit: contain;
        /* Prevent cropping on smaller screens */
        max-height: 400px;
        /* Limit the height for smaller devices */
    }

    .sec-img {
        height: auto;
        /* Allow container to adjust to image size */
    }
}

@media (max-width: 603px) {

    .col-md-8 img,
    .col-md-4 img {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 363px) {
    .missionStatement h6 {
        margin-top: 25px;
        font-size: 9px;
    }

    .missionStatement h2 {
        font-size: 28px;
    }
}