@media (max-width:768px) {

    .div-container-top-border {
        display: none;
        border-top: none;
        width: 100%;

    }

    .left-side-bar {
        display: none;
        width: 100%;
    }

    .navbar-logo {
        max-width: 180px;
        padding-left: 0%;

    }

    .nav-container1 {
        width: 100%;
        padding: 0%;
        margin: 0%;


    }

    .nav-container2 {
        max-width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 5%;
        margin: 0%;
    }


    .div-container-leftside-border {
        border-left: none;
    }

    .header-bottom-border {
        border-bottom: none;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        border: none;
    }

    .Toggle-button {
        width: 70px;
        max-height: 50px;
        padding: 15px 10px;
        border-left: none;
        display: none;
    }

    /* banner section */

    .slide-content {
        left: 3%;
        bottom: 25%;
    }

    .slide-content h2 {
        font-size: 1rem;
    }

    .slide-content h1 {
        font-size: 3rem;

    }

    .slide-content button {
        padding: 0.4rem 0.8rem;
        font-size: 0.8rem;
    }


    /*strategy secton */

    .strategy-section {
        padding: 50px;

    }

    .strategy-section h2 {
        padding-top: 0px;
        font-size: 40px;
    }

    .strategy-section-image {
        padding-bottom: 0px;
    }

}


@media (max-width: 768px) {
    .slide-content h2 {
        font-size: 0.8rem;
    }

    .slide-content h1 {
        font-size: 2rem;
    }

    .slide-content button {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }
}