@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



@media (max-width:768px) {

    body {
        font-family: "Montserrat", sans-serif;
        margin: 0%;
        padding: 0%;
    }

    .div-container-top-border {
        display: none;
        border-top: none;
        width: 100%;

    }

    .left-side-bar {
        display: none;
        width: 100%;
    }

    .navbar-logo {
        max-width: 180px;
        padding-left: 0%;

    }

    .nav-container1 {
        width: 100%;
        padding: 0%;
        margin: 0%;


    }

    .nav-container2 {
        max-width: 92%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 5%;
        margin: 0%;
    }


    .div-container-leftside-border {
        border-left: none;
    }

    .header-bottom-border {
        border-bottom: none;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        border: none;
    }

    .Toggle-button {
        width: 70px;
        max-height: 50px;
        padding: 15px 10px;
        border-left: none;
        display: none;
    }

    /* banner section */

    .slide-content {
        left: 3%;
        bottom: 25%;
    }

    .slide-content h2 {
        font-size: 1rem;
        padding: 0.2rem;
    }

    .slide-content h1 {
        font-size: 3rem;

    }

    .slide-content button {
        padding: 0.4rem 0.8rem;
        font-size: 0.8rem;
        width: 14rem;
        margin: 0.2rem;
    }

    /* image section-1 */
    .qodef-e-content-inner-1 {
        font-size: 18px;
        position: absolute;
        left: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    .qodef-e-content-inner-2 {
        font-size: 18px;
        position: absolute;
        left: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 55px;
    }

    /*strategy secton */

    .strategy-section {
        padding: 50px;

    }

    .strategy-section h2 {
        padding-top: 0px;
        font-size: 2.4rem;
        padding-right: 4rem;
    }

    .strategy-section-image {
        padding-bottom: 0px;
    }



    /* carousel Auto playing section */

    #carouselAutoplaying {
        padding: 25px;
        margin-top: 80px;
        margin-bottom: 35px;
    }

    .carousel-item h3 {
        font-size: 22px;
    }



    /* image section-2 */

    .custom-column {
        width: 100%;
        max-width: auto;
        height: 400px;
        padding: 8px;
    }


    /* map-section */
    .map-section-container {
        padding: 8px;
    }

    .map-section {
        padding-left: 60px;

    }

    .map-section h2 {
        margin-bottom: 25px;
        font-size: 32px;
        font-weight: 700;
    }

    /* special offer section */

    .special-offer-section-container {
        padding-top: 140px;
        padding-bottom: 140px;

    }

    .special-offer-section-container h1 {
        max-width: 600px;
        font-size: 35px;
    }

    /* Contract Us section */

    .submit-inquiry {
        padding: 8px;
    }


    /* footer */

    .footer {
        height: auto;
        padding-top: 150px;
        padding-bottom: 25px;
        padding: 30px;
    }

    .footer-colom1 {
        padding-right: 50px;

    }

    .footer-container {
        padding: 0;
        padding-bottom: 100px;
    }

}


/* banner section*/

/* @media (max-width: 768px) {
    .slide-content h2 {
        font-size: 0.8rem;
    }

    .slide-content h1 {
        font-size: 2rem;
    }

    .slide-content button {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }

} */


/* video img section */

@media (max-width: 767px) {
    .custom-h4 {
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        left: 50%;
        max-width: 75%;
        width: 400px;
        font-size: 28px;
        text-align: start;
        margin: 5px;
    }

    .video-image-container {
        padding-left: 5px;
        padding-right: 5px;
    }

}